body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
  align-items: center;
  display: flex;
  height: 96vh;
  overflow: hidden;
}

.hide {
  display: none !important;
}

.modal {
  display: block;
  width: 50vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: lavender;
}

.time {
  flex: 1;
  font-size: 300px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}



.green {
  background-color: #22ab22;
}

.orange {
  background-color: #e67e22;
}

.yellow {
  background-color: #ff0;
}

.red {
  background-color: #c00;
}

.text-white {
  color: #fff;
}